<div class="sidebar bg-gray-800 text-white p-4 w-[20vw] h-[100vh]">
  
  <a routerLink="/admin" class="block py-2 px-4 border-b border-gray-700">Dashboard</a>
  <a routerLink="/tours" class="block py-2 px-4 border-b border-gray-700">Tours</a>
  <a href="/bookings" class="block py-2 px-4 border-b border-gray-700"> Bookings</a>
  <a href="/users" class="block py-2 px-4 border-b border-gray-700"> Users</a>
  <a href="/reviews" class="block py-2 px-4 border-b border-gray-700"> Reviews</a>
  <a href="/profile" class="block py-2 px-4">Profile</a>
</div>
