<div class="sidebar bg-gray-800 text-white p-4">
  <!-- Your sidebar content goes here -->
  <a href="/admin" class="block py-2 px-4 border-b border-gray-700">Dashboard</a>
  <a href="/tours" class="block py-2 px-4 border-b border-gray-700">Tours</a>
  <a href="/bookings" class="block py-2 px-4 border-b border-gray-700">Manage Bookings</a>
  <a href="/users" class="block py-2 px-4 border-b border-gray-700">Manage Users</a>
  <a href="/reviews" class="block py-2 px-4 border-b border-gray-700">Manage Reviews</a>
  <!-- <a href="#" class="block py-2 px-4 border-b border-gray-700">Manage Users</a> -->
  <a href="/profile" class="block py-2 px-4">Profile</a>
</div>
