<div class="bg-lime-50 text-lime-950 overflow-hidden">
    <div class="container flex justify-between items-center font-bond">
      <h1 class="font-bold text-3xl">BRIS<br />ADVENTURES</h1>
      <div class="flex flex-row justify-between gap-4">
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="/tours">Tours</a>
        <a routerLink="/blogs">Blogs</a>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/contact-us">Contact Us</a>
      </div>
      <div class="flex space-x-4">
        <a routerLink='/'>Logout</a>
        
      </div>

    </div>

   
  </div>
   <div class=" p-4 text-lime-950 overflow-hidden text-center font-bold text-3xl">welcome to Bris Adventures</div>
