<div
  class="bg-lime-200 flex gap-50 items-center justify-center w-[70vw] mt-[20vh] mx-auto h-[60vh] rounded-lg align-center"
>
  <form class="h-full p-10 flex flex-col gap-4 items-center">
    <div>
      <label for="FormControl">Email address </label><br />
      <input
        class="h-[40px] w-[25vw]"
        type="text"
        id=""
        placeholder="Email address"
      />
    </div>

    <div>
      <label for="FormControl">Password </label><br />
      <input class="h-[40px] w-[25vw]" type="password" placeholder="Password" />
    </div>

    <div>
      <input type="checkbox" value="" id="exampleCheck2" />
      <label for="exampleCheck2"> Remember me </label>
    </div>
    <div>
      <a href="#!">Forgot password?</a>
    </div>

    <div class="text-center lg:text-left">
      <button type="button" class="bg-blue-600 w-[15vw] text-center h-[35px]">Login</button>

      <p>
        Don't have an account?
        <a href="\frontend\src\app\sign-up\sign-up.component.html" class="text-blue-500">SignUp</a>
      </p>
    </div>
  </form>
</div>
