<div id="" class="">
  <div
    class="bg-lime-800 flex flex-row justify-between p-6 align-end text-white-950"
  >
    <div class="text-2xl">+254710709996</div>
    <div>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </div>

    <div>
      <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
    </div>
  </div>

  <div class="bg-lime-50 p-4 text-lime-950 overflow-hidden">
    <div class="container flex justify-between items-center font-bond">
      <h1 class="font-bold text-7xl">BRIS<br />ADVENTURES</h1>
      <div class="flex flex-row justify-between gap-4">
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="/tours">Tours</a>
        <a routerLink="/blogs">Blogs</a>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/contact-us">Contact Us</a>
      </div>
      <div class="flex space-x-4">
        <a routerLink='/login'>Login</a>
        <a routerLink='/signup'>Register</a>
      </div>

    </div>
  </div>

  <div>
    <img
      src="https://images.unsplash.com/photo-1544211412-2a32426e7fd5?q=80&w=1889&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-[200vw] object-cover relative h-[80vh]"
      alt="  elephant-trunk-tusks-forest-jungle-1822636"
    />
    <div class="absolute inset-0 flex items-center justify-center flex-col">
      <h1 class=" text-7xl mt-80 font-bold text-red-700">Welcome to Bris Adventures</h1><br><br><br><br>
      <p class="text-white text-4xl font-bold"> Explore the world with the best <br><br><br></p>
    </div>
  </div>
  <div class="flex justify-center flex-col mt-20 mb-20 items-center">
    <h2 class="font-bond text-rose-900 font-bold text-7xl">Popular tours</h2>
    <p class="text-black-900 font-bond mt-20 text-4xl">
     We go everywhere for everyone
    </p>
  </div>
  <div class="flex">
    <img
      class="w-[30vw] object-cover"
      src="https://images.unsplash.com/photo-1699031153161-b719847e2607?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="fox-sleeping-resting-relaxing-red-1284512"
    />
    <img
      class="w-[30vw] object-cover"
      src="https://images.unsplash.com/photo-1698939316318-f6340582fa3d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="T3TFv7eezHxG4S1x9"
    />
    <img
      class="w-[30vw] object-cover"
      src="https://images.unsplash.com/photo-1629755468136-c9d44acf24d7?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="red-fox-animal-wildlife-fox-face-1310826"
    />
  </div>
</div>
